body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14969 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:55px;
  width:100px;
  height:60px;
  display:flex;
}
#u14969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14970 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u14970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14971 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:385px;
  width:100px;
  height:60px;
  display:flex;
}
#u14971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14972 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:275px;
  width:100px;
  height:60px;
  display:flex;
}
#u14972 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14973 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:385px;
  width:100px;
  height:60px;
  display:flex;
}
#u14973 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14974 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14974_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14974_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:118px;
  height:10px;
}
#u14974_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:20px;
  width:10px;
  height:30px;
}
#u14974_seg3 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:28px;
  width:32px;
  height:32px;
}
#u14974_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14975 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14975_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14975_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14975_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14976 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14976_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14976_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14976_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14977 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14977_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14977_seg1 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:20px;
  width:128px;
  height:10px;
}
#u14977_seg2 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:20px;
  width:10px;
  height:30px;
}
#u14977_seg3 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:28px;
  width:32px;
  height:32px;
}
#u14977_text {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14978 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:385px;
  width:110px;
  height:60px;
}
#u14978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
