body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14723 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:55px;
  width:100px;
  height:60px;
  display:flex;
}
#u14723 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14724 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u14724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14725 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:385px;
  width:211px;
  height:60px;
  display:flex;
}
#u14725 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14726 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:275px;
  width:100px;
  height:60px;
  display:flex;
}
#u14726 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14727 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14727_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14727_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:182px;
  height:10px;
}
#u14727_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:20px;
  width:10px;
  height:20px;
}
#u14727_seg3 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:18px;
  width:32px;
  height:32px;
}
#u14727_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14728 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14728_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14728_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14728_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14729 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14729_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14729_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14729_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14730 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14730_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14730_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:193px;
  height:10px;
}
#u14730_seg2 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:10px;
  height:30px;
}
#u14730_seg3 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:28px;
  width:32px;
  height:32px;
}
#u14730_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u14731 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:375px;
  width:140px;
  height:80px;
  display:flex;
}
#u14731 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14732 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14733 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14733_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14733_seg1 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:132px;
  height:10px;
}
#u14733_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:10px;
  height:35px;
}
#u14733_seg3 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:33px;
  width:32px;
  height:32px;
}
#u14733_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14734 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14734 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14735 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14735_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14735_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:127px;
  height:10px;
}
#u14735_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:20px;
  width:10px;
  height:35px;
}
#u14735_seg3 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:33px;
  width:32px;
  height:32px;
}
#u14735_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14736 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:445px;
  width:137px;
  height:94px;
}
#u14736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:94px;
}
#u14736_ref {
  border-width:0px;
  position:absolute;
  left:535px;
  top:529px;
  width:1px;
  height:1px;
}
#u14737 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:570px;
  width:120px;
  height:80px;
}
#u14737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u14737_ref {
  border-width:0px;
  position:absolute;
  left:760px;
  top:640px;
  width:1px;
  height:1px;
}
