body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14528 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:55px;
  width:100px;
  height:60px;
  display:flex;
}
#u14528 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14529 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u14529 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14530 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:385px;
  width:211px;
  height:60px;
  display:flex;
}
#u14530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14531 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:275px;
  width:100px;
  height:60px;
  display:flex;
}
#u14531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14532 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14532_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14532_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:182px;
  height:10px;
}
#u14532_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:20px;
  width:10px;
  height:20px;
}
#u14532_seg3 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:18px;
  width:32px;
  height:32px;
}
#u14532_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14533 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14533_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14533_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14533_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14534 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14534_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14534_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14534_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14535 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14535_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14535_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:193px;
  height:10px;
}
#u14535_seg2 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:10px;
  height:30px;
}
#u14535_seg3 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:28px;
  width:32px;
  height:32px;
}
#u14535_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u14536 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:375px;
  width:140px;
  height:80px;
  display:flex;
}
#u14536 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14537 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14537 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14538 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14538_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14538_seg1 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:132px;
  height:10px;
}
#u14538_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:10px;
  height:35px;
}
#u14538_seg3 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:33px;
  width:32px;
  height:32px;
}
#u14538_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14539 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14540 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14540_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14540_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:127px;
  height:10px;
}
#u14540_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:20px;
  width:10px;
  height:35px;
}
#u14540_seg3 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:33px;
  width:32px;
  height:32px;
}
#u14540_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14541 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:445px;
  width:137px;
  height:94px;
}
#u14541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:94px;
}
#u14541_ref {
  border-width:0px;
  position:absolute;
  left:535px;
  top:529px;
  width:1px;
  height:1px;
}
#u14542 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:570px;
  width:120px;
  height:80px;
}
#u14542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u14542_ref {
  border-width:0px;
  position:absolute;
  left:760px;
  top:640px;
  width:1px;
  height:1px;
}
