body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14951 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:55px;
  width:100px;
  height:60px;
  display:flex;
}
#u14951 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14952 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:165px;
  width:100px;
  height:60px;
  display:flex;
}
#u14952 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14953 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:385px;
  width:211px;
  height:60px;
  display:flex;
}
#u14953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u14954 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:275px;
  width:100px;
  height:60px;
  display:flex;
}
#u14954 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14955 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14955_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14955_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:182px;
  height:10px;
}
#u14955_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:20px;
  width:10px;
  height:20px;
}
#u14955_seg3 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:18px;
  width:32px;
  height:32px;
}
#u14955_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14956 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14956_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14956_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14956_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14957 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14957_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u14957_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:28px;
  width:32px;
  height:32px;
}
#u14957_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14958 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14958_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14958_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:193px;
  height:10px;
}
#u14958_seg2 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:20px;
  width:10px;
  height:30px;
}
#u14958_seg3 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:28px;
  width:32px;
  height:32px;
}
#u14958_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u14959 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:375px;
  width:140px;
  height:80px;
  display:flex;
}
#u14959 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14960 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14961 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14961_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14961_seg1 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:132px;
  height:10px;
}
#u14961_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:20px;
  width:10px;
  height:35px;
}
#u14961_seg3 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:33px;
  width:32px;
  height:32px;
}
#u14961_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14962 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:510px;
  width:100px;
  height:60px;
  display:flex;
}
#u14962 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14963 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:455px;
  width:0px;
  height:0px;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#656565;
}
#u14963_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u14963_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:127px;
  height:10px;
}
#u14963_seg2 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:20px;
  width:10px;
  height:35px;
}
#u14963_seg3 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:33px;
  width:32px;
  height:32px;
}
#u14963_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14964 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:445px;
  width:137px;
  height:94px;
}
#u14964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:94px;
}
#u14964_ref {
  border-width:0px;
  position:absolute;
  left:535px;
  top:529px;
  width:1px;
  height:1px;
}
#u14965 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:570px;
  width:120px;
  height:80px;
}
#u14965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u14965_ref {
  border-width:0px;
  position:absolute;
  left:760px;
  top:640px;
  width:1px;
  height:1px;
}
